* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color:  #212f3c;
   background-size: auto 100vh;
   color: #ececec;
   height: 100vh;
   font-family: Arial; 
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu{
    background-color: #f4f4f4;
    position: fixed;
    width: 100vw;
    top: 0;

}
.menu a{
    color: steelblue;
    display: block;
    padding: 10px 20px;

}
a{
    color: steelblue;
    text-decoration: none;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}

a:hover{
    text-decoration: underline;
}
.menu li{
    list-style: none;
}
.site-title{
    text-align: center;
    color: whitesmoke;
}


.site-subtitle{
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}
.img-portfolio{
    width: 180px;
    height: 180px;
    background-color: whitesmoke;
}

