body{
   background-color:  #212f3c;
   background-size: auto 100vh;
   color: #ececec;
   height: 100vh;
   font-family: Arial; 
}
.menu{
    background-color: #f4f4f4;

}
a{
    color: steelblue;
    text-decoration: none;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}

a:hover{
    text-decoration: underline;
}
.menu li{
    list-style: none;
}
.site-title{
    text-align: center;
    color: whitesmoke;
}


.site-subtitle{
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}